@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap');
.sheet-tabbed-panel {
    padding-left:10px;
}
/*-----grid-----*/
.sheet-wrapper {
    font-family: "Myriad Pro, serif";
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 1px;
    background-color: transparent;
    margin: 120px 95px 80px 55px;
    position: absolute;
    width: 720px;
}

.sheet-recto, .sheet-verso {display: none;}
.sheet-verso {display: grid; padding-top:20px;}
/* show the selected tab */
.sheet-tabstoggle[value="recto"] ~ div.sheet-recto, .sheet-tabstoggle[value="verso"] ~ div.sheet-verso {display: block;}
.sheet-container {width: 870px; margin: 0 auto;    position: relative;}
.charsheet {
  background-image: url("https://raw.githubusercontent.com/ngalliot/vampire-requiem-2nd/master/images/background.jpg");
  background-color: black;
  background-repeat: no-repeat;
  color: black;
  background-size:850px;
  min-height:1150px;
  padding:0;
}

.ui-dialog .charsheet {padding: 0;}


.sheet-tabs-menu {position: absolute; top:60px;margin:0 80px;width:100%;}

.sheet-justifycenter {justify-content: center;}

.sheet-left  {grid-column: col-start 1 / span 4; display: flex; flex-wrap: wrap; align-content:flex-start;}
.sheet-main  {grid-column: col-start 5 / span 4; display: flex; flex-wrap: wrap; align-content:flex-start;}
.sheet-right {grid-column: col-start 9 / span 4; display: flex; flex-wrap: wrap; align-content:flex-start;}

.sheet-attr-offset  {grid-column: col-start 1 / span 2; display: flex; flex-wrap: wrap; padding: 5px 10px;}
.sheet-attr-left    {grid-column: col-start 3 / span 3; display: flex; flex-wrap: wrap; border: 1px solid black; padding: 5px 0px 5px 5px;margin-right:6px}
.sheet-attr-main    {grid-column: col-start 6 / span 3; display: flex; flex-wrap: wrap; border: 1px solid black; padding: 5px 0px 5px 5px;margin-right:6px}
.sheet-attr-right   {grid-column: col-start 9 / span 3; display: flex; flex-wrap: wrap; border: 1px solid black; padding: 5px 0px 5px 5px;margin-right:6px}
.sheet-attr-end		{grid-column: col-start 12/ span 1; display: flex; flex-wrap: wrap; padding: 5px 10px;}


.sheet-fullbreak    {grid-column: col-start 1 / span 12; display: flex; background: url("https://raw.githubusercontent.com/ngalliot/vampire-requiem-2nd/master/images//break.png") no-repeat center; background-size: 100%; height: 35px; margin: 10px 5px; align-items: center;  justify-content: center; color:white; text-transform: uppercase;font-family: 'Libre Caslon Text', serif; letter-spacing: 3px; font-weight: 300;}
.sheet-onethird-break    {grid-column: col-start 1 / span 4; display: flex; background: url("https://raw.githubusercontent.com/ngalliot/vampire-requiem-2nd/master/images//breakonethird.png") no-repeat center; background-size: 100%; height: 35px; margin: 10px 0px; align-items: center;  justify-content: center; color:white; text-transform: uppercase;font-family: 'Libre Caslon Text', serif; letter-spacing: 3px; font-weight: 300;}
.sheet-bgonethird { display:flex; width:100%; background: url("https://raw.githubusercontent.com/ngalliot/vampire-requiem-2nd/master/images//breakonethird.png") no-repeat center; background-size: 100%; height: 35px; margin: 10px 0px 0px; align-items: center;  justify-content: center; color:white; text-transform: uppercase;font-family: 'Libre Caslon Text', serif; letter-spacing: 3px; font-weight: 300;}
.sheet-twothird-break    {grid-column: col-start 5 / span 8; display: flex; background: url("https://raw.githubusercontent.com/ngalliot/vampire-requiem-2nd/master/images//breaktwothird.png") no-repeat center; background-size: 100%; height: 35px; margin: 10px 0px; align-items: center;  justify-content: center; color:white; text-transform: uppercase;font-family: 'Libre Caslon Text', serif; letter-spacing: 3px; font-weight: 300;}
.sheet-bgtwothird { width:100%; display:flex; background: url("https://raw.githubusercontent.com/ngalliot/vampire-requiem-2nd/master/images//breaktwothird.png") no-repeat center; background-size: 100%; height: 35px; margin: 10px 0px; align-items: center;  justify-content: center; color:white; text-transform: uppercase;font-family: 'Libre Caslon Text', serif; letter-spacing: 3px; font-weight: 300;}

.sheet-onethird    {grid-column: col-start 1 / span 4; display: flex; flex-wrap: wrap; align-content:flex-start; justify-content: center; }
.sheet-twothird    {grid-column: col-start 5 / span 8; display: flex; flex-wrap: wrap; align-content:flex-start; justify-content: center;}

.sheet-break {flex-basis: 100%;height: 0;}
.sheet-height20 {height:20px;}
.sheet-height10 {height:10px;}
.sheet-height5 {height:5px;}
.sheet-height15 {height:16px;}
.sheet-height30 {height:30px;}

/*-----Generic fields-----*/
.sheet-label {
    font-family: 'Libre Caslon Text', serif;
    font-size:12px;
    font-weight: bold;
    flex: 0 0 85px;
    align-items: bottom; text-align: right; }

.sheet-radio-list, .sheet-inverted-radio-list  {
    display: flex; flex: 1;
    margin: 0; padding: 0; justify-content:center; align-items:center;}

input[type="text"] {
    background: transparent; border: none; border-bottom: 1px dashed #83A4C5; outline: none; padding: 0 0 0 5px; font-family: "Myriad Pro, serif";}

/* ----- Header ----- */
.sheet-header .sheet-radio-list {justify-content: flex-end;margin-right:4px;}
.sheet-header-value {
    font-family: 'Libre Caslon Text', serif;
    flex: 0 0 50px;    
    padding-bottom: 0px;}
.sheet-header-value input[type="text"] {width:150px;}
/* ----- Attributes ----- */
.sheet-attr-helper {
    flex: 0 0 75px;
    font-style: italic;
    color: #666;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    font-family: 'Libre Caslon Text', serif;
    font-size:12px;
}

.sheet-attr-item {
    font-family: 'Libre Caslon Text', serif;
    font-size:12px;
    display: flex;
    align-items:center; 
    flex: 0 0 70px;
    height: 20px;
}


/* -----Hide actual radio----- */
input[type="radio"] {width: 14px; height: 14px; z-index: 1; position: relative; top: 0px;left: 6px; margin: -7px -6px -7px -7px; opacity: 0;cursor: hand;}

/* -----Fake radio----- */
.sheet-radio-list input[type="radio"] + span::before {
    margin-right: 1px;
    border: solid 1px #000;
    line-height: 11px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #000;

    color:black;
    content: "•";
    width: 10px;
    height: 10px;
    font-size: 1em;
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;}


/* -----Remove dot from all radios _after_ selected one----- */
.sheet-radio-list input[type="radio"]:checked ~ input[type="radio"] + span::before {content: "";   
    border: solid 1px #a8a8a8;
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
}

.sheet-radio-list input[type="radio"]:hover + span::before {opacity: 1;}
input.sheet-zero[type="radio"] + span::before {
    font-size: 12px;
    content: "✖";
    opacity: 0.12;
    background: transparent;
    border: none;
    margin-right: 4px;
    margin-top: 2px;
}

input.sheet-zero[type="radio"]:checked + span::before {opacity: 0;background: transparent;border: none;}
input.sheet-zero[type="radio"]:hover + span::before {opacity: 1;color: black; border: none;}


/*----- Skills -----*/
.sheet-fullblock {display:flex;flex: 0 0 210px; border: 1px solid black; padding: 2px 5px;flex-wrap:wrap;}
.sheet-normalblock {display:flex;flex: 0 0 210px; padding: 2px 5px;flex-wrap:wrap;}

.sheet-skills-item {
    display: flex;
    align-items:center; 
    flex: 0 0 120px;
    height: 18px;
    font-family: 'Libre Caslon Text', serif;
    font-size:12px;

}

.sheet-skills-item::after {
 	content:'';
	flex:1;
	margin: 0px -10px -8px 3px;
	height:0;
	border-bottom:solid black 1px;
}

.sheet-skills-title { width: 100%; text-transform: uppercase; text-align: center; padding: 2px 0; font-family: 'Libre Caslon Text', serif; font-size:14px;}
.sheet-skills-title span {text-transform: lowercase; display: block; font-style: italic; font-size:12px;}

/*----- Skills -----*/

.sheet-disciplines-block {display:flex;flex: 0 0 230px; padding: 0px 5px 2px;flex-wrap:wrap;align-content:flex-start}
.sheet-disciplines-title, .sheet-merits-title, .sheet-aspirations-title, .sheet-health-title { width: 100%; text-transform: uppercase;font-size:14px; font-family: 'Libre Caslon Text', serif;text-align: center; padding: 0px 0;}
select {-webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none;
	outline: 0; box-shadow: none; border: 0 !important; background: transparent; background-image: none;}
select::-ms-expand {display: none;}

.sheet-disciplines-block > .sheet-radio-list, .sheet-merits-block > .sheet-radio-list  {padding-top: 5px; }
.sheet-merits-item, .sheet-disciplines-item {position: relative; display: flex; flex: 0 0 130px; background: transparent; overflow: hidden; border-bottom:1px solid black;margin-top:2px;}
.sheet-otherdisc-item {position: relative; display: flex; flex: 0 0 120px; background: transparent; overflow: hidden;margin-top:2px;}
.sheet-otherdisc {margin-top:4px;}

select { flex: 1; padding: 0 .3em 0 2px; color: #000; cursor: pointer; margin-bottom:-3px; width:100%; font-family: 'Libre Caslon Text', serif; font-size:12px;}
textarea {font-family: 'Myriad Pro', serif; height:auto;}

.sheet-disciplines-item:disabled {color:#888;}
.sheet-merits-item::after, .sheet-disciplines-item::after {content: '▽';
  position: absolute; top: 2px; right: 0; padding: 0; background: transparent; opacity: 0.5;
  cursor: pointer; pointer-events: none;font-size: 12px;
  -webkit-transition: .25s all ease; -o-transition: .25s all ease; transition: .25s all ease;}

/* Transition */
.sheet-disciplines-item:hover::after { color: #f39c12;}

.sheet-merits-block {display:flex;flex: 0 0 230px; padding: 0px 5px 0px;flex-wrap:wrap;align-content:flex-start}
.sheet-merits-item select option:disabled {text-transform: uppercase; font-weight: bolder;}

.sheet-aspirations-block {display:flex;flex: 0 0 230px; padding: 0px 5px 0px;flex-wrap:wrap;align-content:flex-start}



/*----- Santé ----- */
.sheet-health-title {padding-bottom:0px;}
.sheet-health-block {display:flex;flex: 0 0 230px; padding: 0px 5px 0px;flex-wrap:wrap;align-content:flex-start; justify-content: center;}
div.sheet-healthbox {flex: 0 0 16px;height: 14px; position:relative; margin: 0px 4px 0px 1px;}
input.sheet-healthbox {margin: 0 0 0 0;opacity: 0;width: 16px;height: 16px;position: absolute;z-index: 1;cursor: hand; top:0px;left:0px;}

span.sheet-healthbox {margin:  0 0 0 0;display: none;}

input.sheet-blackdot {z-index: 2}
input.sheet-blackdot:checked + input.sheet-whitedot, input.sheet-whitedot:checked + input.sheet-bashingdot, input.sheet-bashingdot:checked + input.sheet-lethaldot, input.sheet-lethaldot:checked + input.sheet-aggravateddot {z-index: 3;}
input.sheet-blackdot:checked ~ span.sheet-blackdot, input.sheet-whitedot:checked ~ span.sheet-whitedot, input.sheet-bashingdot:checked ~ span.sheet-bashingdot, input.sheet-lethaldot:checked ~ span.sheet-lethaldot, input.sheet-aggravateddot:checked ~ span.sheet-aggravateddot {display: inline-block;}

.sheet-blackdot {width: 14px; height: 14px; background: black; border-radius:5px; border: 1px solid black; background-size: 100%;}
.sheet-whitedot {width: 14px; height: 14px; background: white; border-radius:5px; border: 1px solid black; background-size: 100%;}

.sheet-bashingdot {width: 14px; height: 14px; background: white; border-radius:5px; border: 1px solid black; background-size: 100%;}
.sheet-bashingdot:before {content: "/"; text-align:center; padding-left:5px; line-height:1em; color:black; text-shadow:none; font-weight:300; font-size:1em;font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"}


.sheet-lethaldot {width: 14px; height: 14px; background: white; border-radius:5px; border: 1px solid black; background-size: 100%; }
.sheet-lethaldot:before {content: "x"; padding-left:2px; line-height:0.9em; color:black; text-shadow:none; font-weight:bold; margin-left:1px; font-size:1em;font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"} 

.sheet-aggravateddot {width: 14px; height: 14px; background: white; border-radius:5px; border: 1px solid black; background-size: 100%; }
.sheet-aggravateddot:before {font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; content: "*"; line-height:0.9em; padding-left:1px; color:black; font-size:2em;}

.sheet-grid { margin-left:auto; margin-right:auto;}


/*----- VOlonté -----*/
.sheet-inverted-radio-list {margin-left:-4px;}
.sheet-inverted-radio-list input[type="radio"] + span::before {
    margin-right: 4px; margin-left: 4px;
    border: solid 1px #000;
    line-height: 11px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border: solid 1px #a8a8a8;
    background: #f6f6f6; background: -moz-radial-gradient(#f6f6f6, #dfdfdf); background: -webkit-radial-gradient(#f6f6f6, #dfdfdf); background: -ms-radial-gradient(#f6f6f6, #dfdfdf); background: -o-radial-gradient(#f6f6f6, #dfdfdf); background: radial-gradient(#f6f6f6, #dfdfdf);

    color:black;
    content: "";
    width: 10px; height: 10px;
    font-size: 1em;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;}


/* -----Remove dot from all radios _after_ selected one----- */
.sheet-inverted-radio-list input[type="radio"]:checked ~ input[type="radio"] + span::before {color:black; content: "•"; background: black; border: solid 1px black;}
.sheet-inverted-radio-list input[type="radio"]:hover + span::before {opacity: 1;}

.sheet-radio-wide input[type="radio"] + span::before {margin-right: 6px;width: 12px; height: 12px;}


/* ----- VITAE ----- */

/*-----vitae -----*/

div.sheet-vitae { flex: 0 0 16px; height: 14px; position: relative; margin: 0px 4px 0px 1px;}
input.sheet-vitae {margin: 0px 0 0 0px; opacity: 0; width: 16px; height: 16px; position: absolute; z-index: 1; top:0; left:0;}
span.sheet-vitae { margin: 0px 0px 0 0px; display: none; }

input.sheet-blankvitae { z-index: 2; }
input.sheet-blankvitae:checked + input.sheet-redvitae, input.sheet-redvitae:checked + input.sheet-emptyvitae { z-index: 3; }
input.sheet-blankvitae:checked ~ span.sheet-blankvitae, input.sheet-redvitae:checked ~ span.sheet-redvitae, input.sheet-emptyvitae:checked ~ span.sheet-emptyvitae { display: inline-block; }

.sheet-blankvitae   { width: 14px; height: 14px; background: white; border-radius:5px; border: 1px solid black;}
.sheet-redvitae     { width: 14px; height: 14px; background: pink;  border-radius:5px; border: 1px solid black;}
.sheet-emptyvitae   { width: 14px; height: 14px; background: black; border-radius:5px; border: 1px solid black;}


/*-----Big Check-----*/
.sheet-human-value {flex: 0 0 100px; padding-bottom: 0px;}
.sheet-human-value input[type="text"] {width:150px;}
.sheet-human-count {flex: 0 0 20px;text-align: right; margin-top:2px;}
div.sheet-humanitybox {flex: 0 0 16px;height: 14px; position:relative; margin: 0px 4px 0px 1px;}
/* ----Hide actual roundcheck checkbox---- */
input.sheet-roundcheck[type="checkbox"] {opacity: 0; width: 14px; height: 14px; position: relative; top: 5px; left: 12px; margin: -10px; cursor: pointer; z-index: 1;}

input.sheet-roundcheck[type="checkbox"] + span::before {
    margin:2px 0px 0px 8px; border: solid 1px #a8a8a8; line-height: 14px; text-align: center; display: inline-block; vertical-align: middle;
    border-radius: 20px 20px 20px 20px;
    background: #f6f6f6; background: -moz-radial-gradient(#f6f6f6, #dfdfdf); background: -webkit-radial-gradient(#f6f6f6, #dfdfdf); background: -ms-radial-gradient(#f6f6f6, #dfdfdf); background: -o-radial-gradient(#f6f6f6, #dfdfdf); background: radial-gradient(#f6f6f6, #dfdfdf);
    -moz-border-radius:  20px 20px 20px 20px; -webkit-border-radius:  20px 20px 20px 20px; border-radius: 20px 20px 20px 20px;
}

input.sheet-roundcheck[type="checkbox"] + span::before {content: ""; width: 14px; height: 14px; font-size: 12px; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;}
input.sheet-roundcheck[type="checkbox"]:checked + span::before { background: black; border: 1px solid black; color:black; font-size: 3em; content: "•";}

/*----Details----*/
.sheet-details-block {display:flex;flex: 0 0 210px; padding: 0px 5px 2px;flex-wrap:wrap;align-content:flex-start; font-family: 'Libre Caslon Text', serif; font-size:12px;}
.sheet-details {flex: 0 0 50px; flex:1; align-items: bottom; padding-bottom: 10px;}
.sheet-details-value {flex: 0 0 30px; flex:1; padding-bottom: 10px;}
.sheet-details input {width:30px;}

/*-----Page 2-----*/

.sheet-lang-item input {width:200px;}

input.sheet-beats[type="checkbox"] + span::before {margin-top:-2px;margin-right:-2px;}
/* ----Hide actual roundcheck checkbox---- */
input.sheet-statecheck[type="checkbox"] {opacity: 0; width: 14px; height: 14px; position: relative; top: 5px; left: 12px; margin: -10px; cursor: pointer; z-index: 1;}

input.sheet-statecheck[type="checkbox"] + span::before {
    margin:2px 0px 0px 8px; border: solid 1px #a8a8a8; line-height: 14px; text-align: center; display: inline-block; vertical-align: middle;
    border-radius: 5px;
    background: #f6f6f6; background: -moz-radial-gradient(#f6f6f6, #dfdfdf); background: -webkit-radial-gradient(#f6f6f6, #dfdfdf); background: -ms-radial-gradient(#f6f6f6, #dfdfdf); background: -o-radial-gradient(#f6f6f6, #dfdfdf); background: radial-gradient(#f6f6f6, #dfdfdf);
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

input.sheet-statecheck[type="checkbox"] + span::before {content: ""; width: 12px; height: 12px; font-size: 12px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
input.sheet-statecheck[type="checkbox"]:checked + span::before { background: black; border: 1px solid black; color:black; font-size: 3em; content: "•";}

.sheet-etats-block {display: flex; flex:0 0 470px; flex-wrap: wrap;}
.sheet-etats-block label {flex: 0 0 55px; overflow: hidden;height: 1em;font-family:'Libre Caslon Text', serif; font-size:11px; }
/*this hides the contents of each section by default*/
.charsheet div[class^="sheet-dispetat"] {display: none;flex: 0 0 230px;}


/*this shows the race traits content when the appropriate input field is selected*/
input.sheet-etat1:checked ~ div.sheet-dispetat1, input.sheet-etat2:checked ~ div.sheet-dispetat2, input.sheet-etat3:checked ~ div.sheet-dispetat3, input.sheet-etat4:checked ~ div.sheet-dispetat4, input.sheet-etat5:checked ~ div.sheet-dispetat5, input.sheet-etat6:checked ~ div.sheet-dispetat6, input.sheet-etat7:checked ~ div.sheet-dispetat7, input.sheet-etat8:checked ~ div.sheet-dispetat8, input.sheet-etat9:checked ~ div.sheet-dispetat9, input.sheet-etat10:checked ~ div.sheet-dispetat10,
input.sheet-etat11:checked ~ div.sheet-dispetat11, input.sheet-etat12:checked ~ div.sheet-dispetat12, input.sheet-etat13:checked ~ div.sheet-dispetat13, input.sheet-etat14:checked ~ div.sheet-dispetat14, input.sheet-etat15:checked ~ div.sheet-dispetat15, input.sheet-etat16:checked ~ div.sheet-dispetat16, input.sheet-etat17:checked ~ div.sheet-dispetat17, input.sheet-etat18:checked ~ div.sheet-dispetat18, input.sheet-etat19:checked ~ div.sheet-dispetat19, input.sheet-etat20:checked ~ div.sheet-dispetat20,
input.sheet-etat21:checked ~ div.sheet-dispetat21, input.sheet-etat22:checked ~ div.sheet-dispetat22, input.sheet-etat23:checked ~ div.sheet-dispetat23, input.sheet-etat24:checked ~ div.sheet-dispetat24, input.sheet-etat25:checked ~ div.sheet-dispetat25, input.sheet-etat26:checked ~ div.sheet-dispetat26, input.sheet-etat27:checked ~ div.sheet-dispetat27, input.sheet-etat28:checked ~ div.sheet-dispetat28, input.sheet-etat29:checked ~ div.sheet-dispetat29, input.sheet-etat30:checked ~ div.sheet-dispetat30,
input.sheet-etat31:checked ~ div.sheet-dispetat31, input.sheet-etat32:checked ~ div.sheet-dispetat32, input.sheet-etat33:checked ~ div.sheet-dispetat33, input.sheet-etat34:checked ~ div.sheet-dispetat34, input.sheet-etat35:checked ~ div.sheet-dispetat35, input.sheet-etat36:checked ~ div.sheet-dispetat36, input.sheet-etat37:checked ~ div.sheet-dispetat37, input.sheet-etat38:checked ~ div.sheet-dispetat38, input.sheet-etat39:checked ~ div.sheet-dispetat39, input.sheet-etat40:checked ~ div.sheet-dispetat40,
input.sheet-etat41:checked ~ div.sheet-dispetat41, input.sheet-etat42:checked ~ div.sheet-dispetat42, input.sheet-etat43:checked ~ div.sheet-dispetat43 {display: flex; padding: 0 10px 0 8px;}


.sheet-etat-display {flex:0 0 235px; height:230px; overflow: hidden;}
.sheet-etat-display-title { display:flex; width: 100%; text-transform: uppercase; color:white; justify-content: center; align-items: center; font-family: 'Libre Caslon Text', serif; font-size:14px; 
background: url("./images/etathead.png") no-repeat center; background-size: 100%; height: 35px; }
/*background: url("https://raw.githubusercontent.com/ngalliot/vampire-requiem-2nd/master/images/break.png") no-repeat center; background-size: 100%; height: 35px; }*/
select.sheet-etat-select {color:#fff;font-family: 'Libre Caslon Text', serif; font-size:14px; margin-left:30px;margin-top:-5px; text-transform: uppercase;}
select.sheet-etat-select::-ms-expand {display: none;}
select.sheet-etat-select:focus {color: #fff;outline: none;}
select.sheet-etat-select option {font-weight:normal;color:#000; text-transform: capitalize;}
.sheet-etat-display-desc {font-family: "Myriad Pro, serif"; font-size: 14px; height: 280px;overflow: hidden;line-height: 14px; flex: 0 0 100%;}
.sheet-etat-display-desc p {margin:2px 0px;}
input.sheet-etatfake {width: 0px; height: 0px; opacity: 0; display: none;}

/*-----background-----*/
body {
}
